/** Add css rules here for your application. */

@if user.agent ff gecko mozilla firefox Gecko Mozilla moz gecko1_8 {	
	.testLabel {
		font-size: 26px;
		background-image: url('gwt.png');
		background-repeat: no-repeat;
	}
	} @else {
	.testLabel {
		font-size: 10px;
	}
}


