@CHARSET "UTF-8";
/* ------------ Example ------------ */

DIV.dragdrop-dropTarget {
  background-color: #CCCCCC; /* gray */
  border: 1px solid black;
}

/* ------------ AbsolutePositionExample ------------ */
.demo-AbsolutePositionExample {
  
}

/* ------------ GridConstrainedExample ------------ */
.demo-GridConstrainedExample {
  
}

/* ------------ FlexTableRowExample ------------ */
.demo-FlexTableRowExample .dragdrop-boundary {
  background-color: #FFFFFF; /* white */
  border: 1px solid black;
}

.demo-FlexTableRowExample .demo-FlexTableRowExample-table-proxy {
  border: 1px solid blue;
  filter: alpha(opacity = 50);
  opacity: 0.5;
}

.demo-FlexTableRowExample .demo-flextable .dragdrop-handle {
  background: url("tab_images/dndArea.png") no-repeat;
  padding-left: 12px;
}

.demo-FlexTableRowExample TABLE {
  background-color: #FFFFFF; /* white */
}

.demo-FlexTableRowExample .demo-table-positioner {
  z-index: 1;
  border-top: 1px solid green;
  margin-top: 1px;
}

.demo-FlexTableRowExample .dragdrop-selected ,
.demo-FlexTableRowExample .dragdrop-dragging ,
.demo-FlexTableRowExample .dragdrop-proxy {
  filter: alpha(enabled = false);
  opacity: 1.0;
}