@CHARSET "UTF-8";
/* ------------ DropTarget ------------ */

DIV.dragdrop-dropTarget {
  background-color: #CCCCCC; /* gray */
  border: 1px solid black;
}

/* ------------ FlexTableRow ------------ */
.flexTableRow .dragdrop-boundary {
  background-color: #FFFFFF; /* white */
  border: 1px solid black;
}

.flexTableRow .flexTableRow-proxy {
  border: 1px solid blue;
  filter: alpha(opacity = 50);
  opacity: 0.5;
}

.flexTableRow .flextable .dragdrop-handle {
  background: url("tab_images/dndArea.png") no-repeat;
  padding-left: 12px;
}

.flexTableRow TABLE {
  background-color: #FFFFFF; /* white */
}

.flexTableRow .table-positioner {
  z-index: 1;
  border-top: 1px solid green;
  margin-top: 1px;
}

.flexTableRow .dragdrop-selected ,
.flexTableRow .dragdrop-dragging ,
.flexTableRow .dragdrop-proxy {
  filter: alpha(enabled = false);
  opacity: 1.0;
}

.pageTable {
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	text-align:center;
}

.pageTable td {
	border-bottom: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
}

.pageTableHeader {
	background-color: #E8D2FF;
}