/** Add css rules here for your application. */

.gwt-TabLayoutPanelTab {
	background-color: #cbe8ef;
	border: 1px solid white;
	border-bottom : 0;
	-moz-border-radius : 5px 5px 0 0;
	border-radius : 5px 5px 0 0;
	padding : 3px;
	text-shadow: 1px 1px 0 #7073f8;
	font-family: Arial, sans-serif;
	font-size: 12px;
	cursor: pointer;  
}

.gwt-TabLayoutPanelTab-selected {
	background-color: #aaaaaa;
	z-index : 99;
}

.tab-content {
	border: 1px solid #aaaaaa; 
	margin-bottom:10px;
	margin-right:10px;
	margin-left:1px;
	-moz-box-shadow: 8px 8px 12px #aaa;  
    -webkit-box-shadow: 8px 8px 12px #aaa;  
    box-shadow: 8px 8px 12px #555; 
}

.gwt-SplitLayoutPanel { 
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
	cursor: e-resize; 
	border-top:1px solid #aaaaaa;  
}
.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger { 
	cursor: n-resize; 
} 

.dialogTop {
	cursor: default;
}

.fileManagerPopup {
	z-index: 600003;
	background : white;
}

.fileManagerPopup > div {
	border: 1px solid #aaaaaa; 
	margin-bottom:10px;
	margin-right:10px;
	margin-left:1px;
	-moz-box-shadow: 8px 8px 12px #aaa;  
    -webkit-box-shadow: 8px 8px 12px #aaa;  
    box-shadow: 8px 8px 12px #555; 
    padding: 5px;
}

.fileManagerGlassPopup {
	z-index: 600002;
	background:none repeat scroll 0 0 #FFFFFF;
	opacity:0.6;
}