/**
 * The file contains styles for GWT widgets in the standard theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */
body{
	background : #4A4841; 
	 font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
	}


table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}
pre {
  font-family: "courier new", courier;
  font-size: small;
}
body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #fff;
  direction: ltr;
}
a, a:visited, a:hover {
  color: #0000AA;
}

/**
 * The reference theme can be used to determine when this style sheet has
 * loaded.  Create a hidden div element with absolute position, assign the style
 * name below, and attach it to the DOM.  Use a timer to detect when the
 * element's height and width are set to 5px.
 */
.gwt-Reference-standard {
  height: 5px;
  width: 5px;
  zoom: 1;
}

.anchor-login{
	margin-left : 530px;
  	background : url("/tab_images/signIn.png") no-repeat;
}

.anchor-login:hover{
	color : #CCCFFF;
}

.login-menu{
	margin-left : 0px;
   align :center;
   font-weight: bold;
  	font-size : 20px;
}

.anchor-menu{
	margin-left : 8px;
horizontal-align :right;
   font-weight: bold;
  	font-size : 20px;
color : #FFFFFF;
}

.anchor-menu:hover{
color : #CCCFFF;
}

.text-langue{
	margin-top : 50px;
    align :right;
    font-weight: bold;
  	font-size : 20px;
}

.menu-langue{
  cursor: pointer;
  cursor: hand;
}

.wizardDialog {
	border: 1px solid #aaaaaa; 
	margin-bottom:5px;
	margin-right:5px;
	margin-left:1px;
	-moz-box-shadow: 3px 3px 7px #aaa;  
    -webkit-box-shadow: 3px 3px 7px #aaa;  
    box-shadow: 3px 3px 7px #555; 
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Direction=135);
}

.wizardMain {
	overflow: auto;
}

.bodyPanel {
	background: url("/img/mainBackground.png") no-repeat;
}

.buttonPanel {
	text-align: center;
}

.titlePanel {
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	background-color: aqua;
	height: 22px;
    border-radius : 3px;
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
}

.buttonMarginRight {
	margin-right: 5px !important;
}