<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
  	<servlet>
    	<servlet-name>userService</servlet-name>
    	<servlet-class>com.esial.richercms.server.UserInfoServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>pageService</servlet-name>
    	<servlet-class>com.esial.richercms.server.PageServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>uploadServlet</servlet-name>
    	<servlet-class>com.esial.richercms.server.FileUploadServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>statService</servlet-name>
    	<servlet-class>com.esial.richercms.server.StatServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>languageServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.wizard.server.ServiceLangueImpl</servlet-class>
 	</servlet>
  	
	<servlet>
    	<servlet-name>loginServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.server.ServiceUserInfoImpl</servlet-class>
  	</servlet>
  	
 	<servlet>
    	<servlet-name>configurationServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.wizard.server.ServiceConfigurationImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>arboPageServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.ServiceArboPageImpl</servlet-class>
  	</servlet>
  	
  	
  
 	<servlet-mapping>
  		<servlet-name>userService</servlet-name>
  		<url-pattern>/RichercmsEsial/user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>pageService</servlet-name>
    	<url-pattern>/RichercmsEsial/pages</url-pattern>
  	</servlet-mapping>

  	<servlet-mapping>
    	<servlet-name>uploadServlet</servlet-name>
    	<url-pattern>/RichercmsEsial/upload</url-pattern>
  	</servlet-mapping>
  
	<servlet-mapping>
    	<servlet-name>statService</servlet-name>
    	<url-pattern>/RichercmsEsial/stats</url-pattern>
  	</servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>languageServiceServlet</servlet-name>
		<url-pattern>/RicherCMS/languageService</url-pattern>
	</servlet-mapping>
	
 	<servlet-mapping>
  		<servlet-name>loginServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/loginService</url-pattern>
	</servlet-mapping>
	
	 <servlet-mapping>
  		<servlet-name>configurationServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/configurationService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>arboPageServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/arboPageService</url-pattern>
	</servlet-mapping>
  
  
  
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>RicherCMS.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
