<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
  	<servlet>
    	<servlet-name>userService</servlet-name>
    	<servlet-class>com.esial.richercms.server.UserInfoServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>pageService</servlet-name>
    	<servlet-class>com.esial.richercms.server.PageServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>statService</servlet-name>
    	<servlet-class>com.esial.richercms.server.StatServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>languageServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.wizard.server.ServiceLangueImpl</servlet-class>
 	</servlet>
  	
	<servlet>
    	<servlet-name>loginServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.server.ServiceUserInfoImpl</servlet-class>
  	</servlet>
  	
 	<servlet>
    	<servlet-name>configurationServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.wizard.server.ServiceConfigurationImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>arboPageServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.ServiceArboPageImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>tagServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.ServiceTagImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>templateServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.ServiceTemplateImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>uploadServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.FileUploadServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>thumbNailServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.ThumbNailServlet</servlet-class>
  	</servlet>
  	
 	<servlet>
    	<servlet-name>fileServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.ServiceFileImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>imageServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.page.server.DisplayImageServlet</servlet-class>
  	</servlet>
  	
	<servlet>
    	<servlet-name>siteServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.site.ForwarderServlet</servlet-class>
  	</servlet>

  
 	<servlet-mapping>
  		<servlet-name>userService</servlet-name>
  		<url-pattern>/RichercmsEsial/user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>pageService</servlet-name>
    	<url-pattern>/RichercmsEsial/pages</url-pattern>
  	</servlet-mapping>
  
	<servlet-mapping>
    	<servlet-name>statService</servlet-name>
    	<url-pattern>/RichercmsEsial/stats</url-pattern>
  	</servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>languageServiceServlet</servlet-name>
		<url-pattern>/RicherCMS/languageService</url-pattern>
	</servlet-mapping>
	
 	<servlet-mapping>
  		<servlet-name>loginServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/loginService</url-pattern>
	</servlet-mapping>
	
	 <servlet-mapping>
  		<servlet-name>configurationServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/configurationService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>arboPageServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/arboPageService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>tagServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/tagService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>templateServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/templateService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>fileServiceServlet</servlet-name>
  		<url-pattern>/RicherCMS/fileService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>uploadServlet</servlet-name>
    	<url-pattern>/RicherCMS/upload</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>thumbNailServlet</servlet-name>
    	<url-pattern>/RicherCMS/thumbnail</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>imageServlet</servlet-name>
    	<url-pattern>/RicherCMS/image/*</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
    	<servlet-name>imageServlet</servlet-name>
    	<url-pattern>/image/*</url-pattern>
  	</servlet-mapping>
 
  	<servlet-mapping>
    	<servlet-name>siteServlet</servlet-name>
    	<url-pattern>/site/*</url-pattern>
  	</servlet-mapping>
  	
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>RicherCMS.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
