<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
  	<servlet>
    	<servlet-name>userService</servlet-name>
    	<servlet-class>com.esial.richercms.server.UserInfoServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>pageService</servlet-name>
    	<servlet-class>com.esial.richercms.server.PageServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>uploadServlet</servlet-name>
    	<servlet-class>com.esial.richercms.server.FileUploadServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>statService</servlet-name>
    	<servlet-class>com.esial.richercms.server.StatServiceImpl</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>languageServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.wizardConfig.server.ServiceLangueImpl</servlet-class>
 	</servlet>
  	
	<servlet>
    	<servlet-name>userServiceServlet</servlet-name>
    	<servlet-class>com.sfeir.richercms.wizardConfig.server.ServiceUserInfoImpl</servlet-class>
  	</servlet>
  	
  	
  
 	<servlet-mapping>
  		<servlet-name>userService</servlet-name>
  		<url-pattern>/richercms/user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>pageService</servlet-name>
    	<url-pattern>/richercms/pages</url-pattern>
  	</servlet-mapping>

  	<servlet-mapping>
    	<servlet-name>uploadServlet</servlet-name>
    	<url-pattern>/richercms/upload</url-pattern>
  	</servlet-mapping>
  
	<servlet-mapping>
    	<servlet-name>statService</servlet-name>
    	<url-pattern>/richercms/stats</url-pattern>
  	</servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>languageServiceServlet</servlet-name>
		<url-pattern>/wizardconfig/languageService</url-pattern>
	</servlet-mapping>
	
 	<servlet-mapping>
  		<servlet-name>userServiceServlet</servlet-name>
  		<url-pattern>/wizardconfig/userService</url-pattern>
	</servlet-mapping>
  
  
  
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>WizardConfig.html</welcome-file>
	</welcome-file-list>
	
</web-app>
